//Julius Sans One
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

//Candara
@font-face {
    font-family: 'Candara';
    src: url('assets/fonts/candara/Candara-BoldItalic.eot');
    src: url('assets/fonts/candara/Candara-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/candara/Candara-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/candara/Candara-BoldItalic.woff') format('woff'),
        url('assets/fonts/candara/Candara-BoldItalic.ttf') format('truetype'),
        url('assets/fonts/candara/Candara-BoldItalic.svg#Candara-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Candara';
    src: url('assets/fonts/candara/Candara-Italic.eot');
    src: url('assets/fonts/candara/Candara-Italic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/candara/Candara-Italic.woff2') format('woff2'),
        url('assets/fonts/candara/Candara-Italic.woff') format('woff'),
        url('assets/fonts/candara/Candara-Italic.ttf') format('truetype'),
        url('assets/fonts/candara/Candara-Italic.svg#Candara-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Candara';
    src: url('assets/fonts/candara/Candara.eot');
    src: url('assets/fonts/candara/Candara.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/candara/Candara.woff2') format('woff2'),
        url('assets/fonts/candara/Candara.woff') format('woff'),
        url('assets/fonts/candara/Candara.ttf') format('truetype'),
        url('assets/fonts/candara/Candara.svg#Candara') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Candara';
    src: url('assets/fonts/candara/Candara-Bold.eot');
    src: url('assets/fonts/candara/Candara-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/candara/Candara-Bold.woff2') format('woff2'),
        url('assets/fonts/candara/Candara-Bold.woff') format('woff'),
        url('assets/fonts/candara/Candara-Bold.ttf') format('truetype'),
        url('assets/fonts/candara/Candara-Bold.svg#Candara-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

