//VARIÁVEIS
    //Cores
    $bege: #CABD99;
    $begeEsc: #725D47;
    $verde: #2B6267;

    //Tamanhos de tela
    $XSmax: 575px;
    $SMmin: 576px;
    $SMmax: 767px;
    $MDmin: 768px;
    $MDmax: 991px;
    $LGmin: 992px;
    $LGmax: 1200px;
    $XLmin: 1201px;

//MIXINS
    //Mobile
    @mixin mobile($minHeight: false, $maxHeight: false) {
        @if $minHeight == false and $maxHeight == false {
            @content;
        } @else {
            @if $maxHeight == false {
                @media only screen and (min-width : $minHeight) {
                    @content;
                }
            } @else {
                @if $minHeight == false {
                    @media only screen and (max-width : $maxHeight) {
                        @content;
                    }
                } @else {
                    @media only screen and (min-width : $minHeight) and (max-width : $maxHeight) {
                        @content;
                    }
                }
            }
        }
    }



    .desktop,
    .Desktop {
        @include mobile(false, $MDmax) {
            display: none !important;
        }
    }

    .mobile,
    .Mobile {
        @include mobile($LGmin) {
            display: none !important;
        }
    }