a,
a:hover,
a:visited,
a:active,
a:focus {
    color: inherit;
    text-decoration: inherit;
    outline: none;
}
input,
button,
select {
    outline: none;
    &:hover,
    &:focus {
        outline: none;
    }
}
img {
    max-width: 100%;
    height: auto;
    outline: none !important;
    user-select: none !important;
    &:focus {
        outline: none !important;
        user-select: none !important;
    }
}
.desktop,
.Desktop {
    @include mobile(false, $MDmax) {
        display: none !important;
    }
}

.mobile,
.Mobile {
    @include mobile($LGmin) {
        display: none !important;
    }
}

.button {
    font-family: 'Julius Sans One', sans-serif;
    border: none;
    border-radius: 50px;
    padding: 7px 20px;
    background-color: $verde;
    color: #FFF;
    font-size: 14px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    &:hover {
        background-color: $bege;
        color: $verde;
    }
}
.box-shadow {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
}

.preagendar_periodo,
.preagendar_dia {
    display: none !important;
    &.show {
        display: block !important;
    }
}

select {
    color: rgb(117, 117, 117) !important;
    &.val {
        color: #2B6267 !important;
    }
}


form.forms {
    background-color: #FDFCF5;
    padding: 40px 40px 25px 40px;
    text-align: center;
    border-radius: 20px;
    input[type=email],
    input[type=text] {
        background-color: #FDFCF5;
        color: #725D47;
        width: 100%;
        border: 1px #725D47 solid;
        border-radius: 50px;
        font-size: 14px;
        padding: 5px 10px;
        margin-bottom: 15px;
        &::placeholder {
            color: #725D47;
        }
    }
    .mauticform-errormsg {
        font-size: 14px;
        color: $verde;
        font-weight: 700;
        margin-top: -10px;
        margin-bottom: 10px;
        display: block;
    }
    .row {
        display: flex !important;
    }
    input[type=submit],
    button {
        float: right;
    }
    .txt {
        display: block;
        @include mobile(false, $MDmax) {
            br {
                display: none;
            }
        }
        &.txt1 {
            color: #725D47;
            font-size: 16px;
            margin-bottom: 15px;
            @include mobile(false, $MDmax) {
                font-size: 14px;
            }
        }
        &.txt2 {
            color: $verde;
            font-size: 14px;
            margin-bottom: 30px;
            @include mobile(false, $MDmax) {
                font-size: 12px;
            }
        }
    }
}


.h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
    width: 100%;
    font-size: 38px;
    color: $verde;
    display: block;
    margin-bottom: 50px;
    @include mobile(false, $XSmax) {
        text-align: center;
        font-size: 32px !important;
        margin-bottom: 30px;
    }
    @include mobile($SMmin, $MDmax) {
        text-align: center;
        font-size: 28px !important;
        margin-bottom: 20px;
    }
}
.h3 {
    display: block;
    font-weight: 400;
    width: 100%;
    font-size: 24px;
    color: $verde;
    margin-top: -50px;
    margin-bottom: 50px;
    @include mobile(false, $XSmax) {
        font-size: 20px;
        margin-top: -30px;
    }
    @include mobile($SMmin, $MDmax) {
        font-size: 18px;
        margin-top: -20px;
    }
}
.h4 {
    display: block;
    font-weight: 400;
    width: 100%;
    font-size: 20px;
    color: $verde;
    margin-top: -50px;
    margin-bottom: 50px;
    @include mobile(false, $XSmax) {
        font-size: 20px;
        margin-top: -30px;
    }
    @include mobile($SMmin, $MDmax) {
        font-size: 18px;
        margin-top: -20px;
    }
}

.thumb {
    position: relative;
    width: 100%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    .img {
        z-index: 0;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
        width: 90%;
        border-radius: 500px;
        position: absolute;
        top: 3px;
        right: 2px;
        -webkit-transition: 0.75s;
        -moz-transition: 0.75s;
        -ms-transition: 0.75s;
        -o-transition: 0.75s;
        transition: 0.75s;
    }
    .img:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}

#topo {
    padding: 0px;
    max-width: 100%;
    position: relative;
    &.site {
        padding: 120px 0px 0px;
        .conteudo {
            .destacada {
                -webkit-mask-image: url(assets/img/folhatopo.png);
                mask-image: url(assets/img/folhatopo.png);
            }
        }
    }
    .conteudo {
        -webkit-transform: translateX(-5%);
        -moz-transform: translateX(-5%);
        -ms-transform: translateX(-5%);
        -o-transform: translateX(-5%);
        transform: translateX(-5%);
        position: relative;
        @include mobile(false, $MDmax) {
            -webkit-transform: inherit;
            -moz-transform: inherit;
            -ms-transform: inherit;
            -o-transform: inherit;
            transform: inherit;
            margin-top: 50px;
        }
        &.dra {
            -webkit-transform: inherit;
            -moz-transform: inherit;
            -ms-transform: inherit;
            -o-transform: inherit;
            transform: inherit;
            max-width: 1080px;
            margin: 0 auto;
            .mascara {
                margin-top: 50px;
                max-width: 100%;
            }
        }
        .destacada {
            position: absolute;
            background-size: cover;
            background-position: center;
            height: auto;
            background-color: $verde;
            width: auto;
            z-index: 10;
            -webkit-mask-image: url(assets/img/topoPage.png);
            mask-image: url(assets/img/topoPage.png);
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center bottom;
            mask-position: center bottom;
            width: 100%;
            height: 100%;
            @include mobile(false, $MDmax) {
                background-attachment: scroll;
                width: 130%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .mascara {
            max-width: 100%;
            position: relative;
            display: block;
            @include mobile(false, $MDmax) {
                max-width: 130%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.mauticform-message {
    font-size: 14px;
    color: #2B6267;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.paginacao {
    margin-top: 100px;
    text-align: center;
    .page-numbers {
        text-align: center;
        font-family: 'Julius Sans One', sans-serif;
        display: inline-block;
        background-color: $verde;
        color: #FFF;
        padding: 6px;
        min-width: 42px;
        font-size: 20px;
        min-height: 42px;
        border-radius: 50px;
        margin-right: 5px;
        &.current {
            opacity: 0.5;
        }
        &.next {
            float: right;
        }
        &.prev {
            float: left;
        }
        &.next,
        &.prev {
            @include mobile(false, $MDmax) {
                display: none;
            }
            position: relative;
            background-color: rgba(0,0,0,0);
            margin: 0px;
            padding: 0px;
            img {
                position: relative;
                max-width: 120px;
            }
            span {
                font-size: 16px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
    }
}


.tambem {
    .item {
        h2 {
            color: $bege;
            margin-bottom: 0px;
            font-size: 18px;
            font-weight: bold;
        }
        h3 {
            color: $verde;
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: bold;   
        }
        button {
            display: block;
            font-size: 14px;
            border-radius: 50px;
            border: none;
            background-color: $bege;
            color: #FFF;
            width: auto;
            font-size: 12px;
            padding: 5px 10px;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -ms-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
            &:hover {
                background-color: $verde;
            }
        }
    }
}

.share {
    margin: 100px 0px 50px;
    a {
        display: inline-block !important;
    }
    h4 {
        display: inline-block;
        font-size: 18px;
        margin-bottom: 0px;
        font-weight: bold;
        color: $verde;
        margin-right: 15px;
        @include mobile(false, $MDmax) {
            display: block;
            width: 100%;
            margin-bottom: 20px !important;
        }
        strong {
            display: block;
        }
    }
    .shareB {
        width: 28px;
        display: inline-block;
        vertical-align: 0px;
        margin-left: 12px;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        &:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}

.escondemail {
    cursor: pointer !important;
}

.entry-footer {
    display: none;
}